header {
    background-color: #A20000;
    color: beige;
}
.cabecalho-imagem{
    width: 50%;
}

.G-04-i3.Jpg{
    width: 20%;
}
Anne Caroline{
    width: 20%;
}
Julia Gomes{
    width: 20%;
}